
* {
    box-sizing: border border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CAD2C7;
}

header {
    background-color: #2F3D46;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0%20px;
}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 50px;
}

.heading {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Tahoma;
}


.section-1 {
    float: left;
    width: 20%;
    height: 520px;
    background-color: rgb(47, 47, 56);
    margin-top: 50px;
    margin-left: 2%;
    border-radius: 20px;
}

.section-2 {
    display: flex;
    align-items: center;
}

.section-2 input[type="search"] {
    width: 800px;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: rgb(47, 47, 56);
    margin-top: 50px;
    margin-left: 255px;
}

.section-3 {
    float: center;
    width: 15%;
    height: 145px;
    background-color: rgb(47, 47, 56);
    margin-top: 75px;
    margin-left: 33%;
    border-radius: 20px;
}

.section-4 {
    float: center;
    width: 15%;
    height: 145px;
    background-color: rgb(47, 47, 56);
    margin-top: -147px;
    margin-left: 58%;
    border-radius: 20px;
}

.section-5 {
    float: center;
    width: 15%;
    height: 145px;
    background-color: rgb(47, 47, 56);
    margin-top: -147px;
    margin-left: 83%;
    border-radius: 20px;
}

.section-6 {
    float: center;
    width: 63%;
    height: 140px;
    background-color: rgb(47, 47, 56);
    margin-top: 75px;
    margin-left: 33%;
    border-radius: 20px;
    padding: 1%;
}

.section {
    margin: top 50px;
}